@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: all .2s;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .flex-v {
    @apply flex flex-col;
  }

  .flex-h {
    @apply flex flex-row;
  }

  .center-h {
    @apply mx-auto;
  }

  .center-v {
    @apply my-auto;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .bg-highlight {
    @apply bg-slate-100 dark:bg-[#1c1c1e];
  }

  .bg-highlight-more {
    @apply bg-slate-200 dark:bg-[#2c2c2e];
  }

  .bg-highlight-hover {
    @apply hover:bg-slate-200 hover:dark:bg-[#2c2c2e];
  }

  #buttons button {
    @apply hover:font-bold transition-all;
  }


  .text-hover-bright {
    @apply dark:text-slate-400 dark:hover:text-white text-gray-600 hover:text-black
  }


}

.typing-demo {
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.cursor {
  display: inline-block;
  width: 1ch;
  animation: flicker 0.5s infinite;
  margin-bottom: 4px;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(121, 121, 121);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rotate_animation:hover {
  animation: rotate 1s linear infinite;
}


.openProfile {
  width: 200px;
  height: 300px;
  transition: all 0.5s;
  opacity: 1;
}

.closeProfile {
  width: 1px;
  height: 1px;
  transition: all 0.5s;
  opacity: 0;

  animation: displayNoneAnimation 0.2s;
}