.no-animation {
    animation: none;
}

@keyframes formula {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100px);
    }

    51% {
        opacity: 0;
        transform: translateX(-100px);
    }


    100% {
        transform: translateX(0);
    }

}

.formula__animation {
    animation: none;
}

.formula-container:hover>.formula__animation {
    animation: formula 1s ease-in-out;
}